textarea {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    resize: none;

}

.buts {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

body {
    background-color: #FFCA6D;
}

.calc {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
}

